*{
    margin: 0;
    padding: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 100; !important
}

#cart{
    position: relative;
    left: -5%;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 1px solid;
    background-color: aliceblue;
}

#delivery-address{
    position: relative;
    right: -5%;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: aliceblue;
}
.popup-container{
    border-radius: 10px;
    width: 500px;
    height: 800px; 
    position: relative;
}

.header{
    display: flex;
    height: 80px;
    background-color: rgba(179, 222, 39, 0.808);
}

.back {
    position: relative;
    line-height: 80px;
    left: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.heading{
    width: 100px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-45%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.main{
    height: 720px;
    background-color: rgb(223, 223, 223);
}

.price{
    height: 80px;
    width: 200px;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.price h3{
    color: green;
    font-weight: bold;
    font-size: 50px;
}

.payment-container{
    height: 620px;
    width: 450px;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-15%);
    background-color: rgb(255, 255, 255);
}

.form{
    width: 400px;
    height: 600px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
}

.head{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: green;

}

.payment-methods{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mastercard{
    height: 120px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 20px;
}

.mastercard img{
    width: 100%;
}

.mastercard:active{
    background-color: rgba(203, 203, 233, 0.404);
    height: 130px;
    width: 180px;
}

.visa{
    height: 120px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 20px;
}


.visa img{
    width: 100%;
}

.visa:active{
    background-color: rgba(203, 203, 233, 0.404);
    height: 130px;
    width: 180px;
}

.inputs{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-name{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.center{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 0 auto;
}

.center h4{
   padding-bottom: 10px;
   font-size: 20px;
}


.center input[type=text]{
    width: 300px;
    height: 30px;
    border: 2px solid green;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}

.card-num{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.exp-date{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section1{
    width: 180px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: 5px;
    padding-left: 20px; 
}

.section1 input[type=text]{
    width: 90px;
    height: 30px;
    border: 2px solid green;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}
.section1 h4{
    padding-bottom: 10px;
    font-size: 20px;
}

.section2{
    width: 180px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 5px;
    padding-left: 20px; 
}

.section2 input[type=text]{
    width: 90px;
    height: 30px;
    border: 2px solid green;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}

.section2 h4{
    padding-bottom: 10px;
    font-size: 20px;
 }

.pay{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pay input[type=submit]{
    width: 100%;
    height: 50px;
    background-color: rgb(22, 160, 22);
    color:white;
    font-weight: bold;
    font-size: 20px;
    border: 0;
}

.pay input[type=submit]:active{
    background-color: green;
}

hr.new{
    border: 1.5px solid green;
    margin: 10px;
    line-height: 80px;
    width: 100px;
    
}





