*{
    margin: 0;
    padding: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-container {
    border-radius: 10px;
    width: 500px;
    height: 800px; 
    position: relative;
}

.header{
    display: flex;
    height: 80px;
    background-color: rgba(179, 222, 39, 0.808);
}

.back {
    position: relative;
    line-height: 80px;
    left: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.heading{
    width: 100px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-45%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.main{
    height: 720px;
    background-color: rgb(223, 223, 223);
}

.price{
    height: 80px;
    width: 200px;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid;
}

.payment-container{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-80%);
    height: 620px;
    width: 450px;
    background-color: aliceblue;
}

.form{
    width: 400px;
    height: 600px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}





