*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3dc75410;
}

#container{
    width: 1200px;
    height: 900px;
    border: 1px solid black;
    margin: 100px auto;
    border-radius: 60px;
    display: flex;
    background-color: white;
    border: 5px solid green;
}

#left-container{
    z-index: 1;
    position: relative;
    width: 750px;
    height: 900px;
    border-radius: 60px 0 0 60px;
    border-right: 1px solid;   
}

#left-header{
    width: 700px;
    height: 150px;
    display: flex;
    margin: 10px auto;
    border-bottom: 3px solid green;
}

#logo{
    display: flex;
    align-items: left;
    width: 200px;
    height: 150px;
}

#logo img{
    width: 100%;
}

#title{
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 0px auto;
}

#title h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#header h1, #header input[type=text]{
    position: relative;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#header input[type=text]{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #3dc754;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    background-image: url('../slike/searchicon.png');
    background-position: 10px; 
    background-repeat: no-repeat;
    padding:  12px 20px 12px 50px;
    transition: width 0.4s ease-in-out;
}

#header input[type=text]:focus{
    width: 50%;
}

#heading h1{
    position: relative;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#categories{
    position: relative;
    width: 600px;
    height: 100px;
    margin: 15px auto;
    text-align: center;
    line-height: 100px;
}

#categories ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#categories ul li{
    display: inline-block;
    margin: 0 8px;
    vertical-align: top;
}

#categories ul li a{
    display: flex;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(247, 247, 247);
    border-radius: 15px;
    box-sizing: border-box;
}

#categories ul li a:hover{
    background-color: rgb(219, 255, 219);
    border: 2px solid green;
}


#categories ul li a img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 15px;
}

#main{
    display:flex;
    flex-wrap: wrap;
    width: 650px;
    height: 500px;
    margin: 0 auto;
}

#main > div{
    width: 200px;
    height: 240px;
    margin: 0px auto;
}


.photo{
    margin: 0 auto;
    width: 180px;
    height: 130px;
    border-radius: 20px;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.desc{
    width: 200px;
    height: 110px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    text-align: center;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}
.price h5{  
    line-height: 20px;
    font-size: 15px;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 20px;
    
}

.button{
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.desc input[type=submit]{
    position: relative;
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(53, 179, 53);
    border: 0px;
    border-radius: 20px;
}

.desc input[type=submit]:hover{
    background-color: rgb(56, 105, 56);
}

.desc h4{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#right-container{
    width: 450px;
    height: 900px;
    border-radius: 0 60px 60px 0;
    background-color: rgba(3, 255, 3, 0.026);
}

#right-header{
    width: 350px;
    height: 100px;
    margin: 20px auto 0px auto;
    text-align: left;
    line-height: 100px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#right-header h1, img{
    display: inline;
}

#right-header img{
    position: relative;
    top: 25%;
    left: 50%;
}

#cart{   
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 550px;
    margin: 5px auto 5px auto;
}

#cart > div{
    display: flex;
    margin: 0;
    padding: 0;
    width: 380px;
    height: 20%;
}

#cart input[type=number]{
    position: relative;
    left: 100px;
    width: 30px;
}

#cart > div:hover{
    background-color: rgba(124, 243, 148, 0.42);
}

#cart #img{
    width: 80px;
    height: 80px;
    margin: 10px 5px 10px 10px;
    border-radius: 10px;
}

#img img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

#cart-desc{
    width: 270px;
    height: 80px;
    margin: 10px 0;
}

.description{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20px;
}

.description p{
    margin-left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#cart-desc input[type=number]{
    position: fixed;
    left: 230px;
    width: 40px;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    color: green;
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
}

#cart-desc input[type=number]:focus{
    border: 0;
    border-radius: 10px;
}

#total-price{
    width: 380px;
    height: 20px;
    font-size: 20px;
    margin: 2px auto;
    text-align: right;
}

.checkout-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 40px;
}

#right-container button{
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(53, 179, 53);
    border: 0;
    border-radius: 20px;
}

#right-container input[type=submit]:hover{
    background-color: rgb(37, 125, 37);
}
hr.new{
    margin: 0 auto;
    width: 380px;
    border: 2px solid green;
}

hr.head{
    position: relative;
    top: 120px;
    margin: 0 auto;
    width: 700px;
    border: 2px solid green;
}

/*==================================================================| CHECKOUT CSS |================================================================================*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 100; 
}

.popup-container{
    border-radius: 10px;
    width: 500px; /* Fixed width */
    height: 800px; /* Fixed height */
    position: relative;
    overflow: auto; /* Allow scrolling if content overflows */
}


.header2{
    display: flex;
    height: 80px;
    background-color: rgb(179, 222, 39);
}

.back{
    position: relative;
    line-height: 80px;
    left: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.heading2{
    width: 100px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-45%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.main2{
    height: 720px;
    background-color: rgb(223, 223, 223);
}

.price2{
    height: 80px;
    width: 200px;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.price2 h3{
    color: green;
    font-weight: bold;
    font-size: 50px;
}

.payment-container{
    height: 620px;
    width: 450px;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-15%);
    background-color: rgb(255, 255, 255);
}

.form{
    width: 400px;
    height: 600px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head2{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: green;

}

.payment-methods{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mastercard{
    height: 120px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 20px;
}

.mastercard img{
    width: 100%;
}

.mastercard:active{
    background-color: rgba(203, 203, 233, 0.404);
    height: 130px;
    width: 180px;
}

.visa{
    height: 120px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 20px;
}


.visa img{
    width: 100%;
}

.visa:active{
    background-color: rgba(203, 203, 233, 0.404);
    height: 130px;
    width: 180px;
}

.inputs{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-name{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.center{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.center label{
   padding-bottom: 10px;
   font-size: 20px;
   font-weight: bold;
   text-align: left;
   position: relative;
   right: 60px;
}


.center input[type=text]{
    width: 300px;
    height: 30px;
    border: 2px solid green;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}

.card-num{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
   
}

.exp-date{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    
}

.section1{
    width: 180px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding-left: 20px; 
}

.section1 input[type=text]{
    width: 90px;
    height: 30px;
    border: 2px solid green;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}
.section1 label{
    padding-bottom: 10px;
   font-size: 20px;
   font-weight: bold;
}

.section2{
    width: 180px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    padding-left: 20px; 
}

.section2 input[type=text]{
    width: 90px;
    height: 30px;
    border: 2px solid green;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}

.section2 label{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
 }

.pay{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pay button{
    width: 100%;
    height: 50px;
    background-color: rgba(179, 222, 39, 0.808);
    color:white;
    font-weight: bold;
    font-size: 20px;
    border: 0;
}

.pay button:active{
    background-color: green;
}

hr.costum{
    border: 1.5px solid green;
    margin: 10px;
    line-height: 80px;
    width: 100px;
    
}
#summary{
    position: relative;
    left: -5%;
    top: 0;
    width: 300px;
    height: 400px;
    background-color: rgb(223, 223, 223);
}

#summary-head{
    height: 50px;
    width: 100%;
    background-color: rgb(179, 222, 39);
    display: flex;
    justify-content: center;
    align-items: center;
}

#summary-head h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#order-summary{
    width: 90%;
    height: 330px;
    position: relative;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    background-color: rgb(218, 218, 218);
    border: 1px outset;
}

#table{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55%;
}

.title2{
    font-size: 15px;
    font-weight: bold;
    color: rgb(90, 90, 90);
    padding-bottom: 10px;
}

.row1{
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.row1 h4{
    padding-bottom: 10px;
}

.row2{
    height: auto;
    width: 80%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 10px;
}

.row2 h4{
    padding-bottom: 10px;
}

.row3{
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row3 h4{
    padding-bottom: 10px;
}

#price{
    width: 100%;
    height: 30px;
    border-top: 1px solid;
    margin: 0 auto;
    text-align: right;
}

#price h4{
    padding-top: 10px;
    padding-right: 5px;
}

#edit{
    width: 100%;
    height: 100px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit button{
    width: 80%;
    height: 50px;
    background-color: rgba(165, 206, 30, 0.808);
    color:white;
    font-weight: bold;
    font-size: 20px;
    border: 0;
}

#edit button:active{
    background-color: green;
}

#delivery-address{
    position: relative;
    right: -5%;
    top: 0;
    width: 400px;
    height: 600px;
    background-color: rgb(218, 218, 218);
}

#del-head{
    height: 80px;
    width: 100%;
    background-color: rgb(179, 222, 39);
    display: flex;
    justify-content: center;
    align-items: center;
}

#del-head h3{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#del-form{

}