*{
    margin: 0;
    padding: 0;
}
#container{
    width: 1100px;
    height: 800px;
    border: 1px solid black;
    margin: 50px auto;
    border-radius: 60px;
    display: flex;
}

#left-container{
    width: 700px;
    height: 800px;
    border-radius: 60px 0 0 60px;
    border-right: 1px solid;   
}

#header h1, #header input[type=text]{
    display: inline-block;
    vertical-align: middle;;
    margin: 30px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#header input[type=text]{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #3dc754;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    background-image: url('../slike/searchicon.png');
    background-position: 10px; 
    background-repeat: no-repeat;
    padding:  12px 20px 12px 50px;
    transition: width 0.4s ease-in-out;
}

#header input[type=text]:focus{
    width: 50%;
}

#heading h1{
    margin: 30px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#categories{
    width: 600px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
}

#categories ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#categories ul li{
    display: inline-block;
    margin: 0 8px;
    vertical-align: top;
}

#categories ul li a{
    display: flex;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(247, 247, 247);
    border-radius: 15px;
    box-sizing: border-box;
}

#categories ul li a:hover{
    background-color: rgb(219, 255, 219);
    border: 2px solid green;
}


#categories ul li a img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 15px;

}

#main{
    width: 650px;
    height: 500px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
}

#main > div{
    width: 200px;
    height: 240px;
    margin: 0px auto;
}


.photo{
    width: 200px;
    height: 150px;
    border-radius: 20px;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.desc{
    width: 200px;
    height: 90px;
    font-size: 20px;
    font-weight: bold;
}

.desc input[type=submit]{
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(53, 179, 53);
    border: 0;
    border-radius: 20px;
}

.desc input[type=submit]:hover{
    background-color: rgb(56, 105, 56);
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#right-container{
    width: 400px;
    height: 800px;
    border-radius: 0 60px 60px 0;
    background-color: rgba(3, 255, 3, 0.026);
}

#right-header{
    width: 350px;
    height: 100px;
    margin: 40px auto 0px auto;
    text-align: left;
    line-height: 100px;
}

#cart{   
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 550px;
    margin: 5px auto 5px auto;
}

#cart > div{
    display: flex;
    margin: 0;
    padding: 0;
    width: 380px;
    height: 20%;
    border-radius: 20px;
}

#cart > div:hover{
    background-color: rgba(124, 243, 148, 0.42);
}

#cart #img{
    width: 80px;
    height: 80px;
    border: 1px solid;
    margin: 10px 5px 10px 10px;
    border-radius: 10px;
}

#img img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

#cart #cart-desc{
    width: 270px;
    height: 80px;
    border: 1px solid;
    margin: 10px 0;
    text-align: center;
    line-height: 80px;
}

#total{
    width: 380px;
    height: 20px;
    margin: 2px auto;
    text-align: right;
}

#right-container input[type=submit]{
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(53, 179, 53);
    border: 0;
    border-radius: 20px;
}

#right-container input[type=submit]:hover{
    background-color: rgb(37, 125, 37);
}
hr.new{
    margin: 0 auto;
    width: 380px;
    border: 2px solid green;
}